*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: "Newsreader", serif;
    font-family: "Inter", sans-serif; */
}
:root{
    --white:#FFFFFF;
    --black:#000000;
    --green:#426B1F;
    --gainsboro:#E6E6E6;
    --dimgray:#6D6D6D;
    --whitesmoke:#FAFAF5;
}
.container{
    padding: 0 5%;
    margin: auto;
    overflow: hidden;
}
body{
    background-color: var(--white);
}
img{
    max-width: 100%;
    height: auto;
}
.head-title{
    padding: 20px 0 ;
}
.head-title .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    color: var(--black);
}
.head-title .container::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 2px;
    margin:auto;
    background-color: var(--gainsboro);
}
.head-title .container .heading{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.head-title .container .heading h1{
    font-family: "Newsreader", serif;
    font-size: 64px;
    font-weight: 400;
}
.head-title .container .heading p{
    font-family: "Inter", sans-serif; 
    font-size: 20px;
}
.head-title .container .heading p b{
    font-weight: 500;
}
.head-title .container .heading p span{
    font-weight: 300;
}
.head-title .container .sorts-btn{
    display: inline-flex;
    align-items: center;
    gap: 20px;
}
.head-title .container .sorts-btn span{
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--white);
    border: 1px solid var(--gainsboro);
    font-family: "Inter", sans-serif; 
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
}
.head-title .container .sorts-btn span:first-child{
    background-color: var(--green);
    color: var(--white);
}
.product-info{
    padding: 15px 0 20px 0;
}
.product-info .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap:50px;
}
.product-info .container .product{
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--whitesmoke);
    border: 2px solid var(--gainsboro);
}
.product-info .container .product .product-details{
    padding: 15px;
    font-family: "Inter", sans-serif; 
    font-weight: 600;
}
.product-info .container .product .product-details h2{
    color: var(--black);
    font-size: 20px;
}
.product-info .container .product .product-details span{
    display: inline-block;
    margin-bottom: 10px ;
    font-size: 20px;
    color: var(--green);
    
}
.product-info .container .product .product-details p{
    font-size: 16px;
    font-weight: 400;
    color: var(--dimgray);
}